@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Shrikhand&display=swap');

/* ------------------------------------ GENERAL STYLE */

body {
    margin: 0;
    padding: 0;
    background-color: #F2EDD9;
    color: #444;
    text-align: center;
    align-items: center;
    min-height: 60vh;
    font-family: 'Raleway', sans-serif;
}

.header-div, .sm-header-div {
    background-color: #FBD266;
}

.sm-header-div a {
    font-family: 'Shrikhand', cursive;
    text-decoration: none;
    color: #D76735;
    font-size: 1.5rem;
}

.header-div h1 {
    font-family: 'Shrikhand', cursive;
    color: #D76735;
}

.header-div h1:hover {
    text-shadow: 2px 2px 5px #DC8C64;
}

.sm-header-div a:hover {
    text-shadow: 2px 2px 5px #DC8C64;
}

.header-div a {
    text-decoration: none;
}

.header-div {
    padding: 30px;
    margin-bottom: 30px;
}

.sm-header-div {
    padding: 15px;
    margin-bottom: 10px;
}

.description-div {
    background-color: #D76735;
    color: #FAFAFA;
    padding: 30px 10px;
    margin-bottom: 30px;
}

.description-div a {
    text-decoration: none;
    color: #FAFAFA;
    font-weight: bold;
}

.description-div a:hover {
    color: #FBD266;
    font-weight: bolder;
}

.challenges-div, .challenge-div {
    background-color: #8FB0A9;
    padding: 30px;
}

.challenge-card {
    font-family: 'Shrikhand', cursive;
    background-color: #C7D3C9;
    margin: 20px 5px;
    padding: 20px 10px;
    letter-spacing: 1px;
    height: 120px;
}

.challenge-card a {
    text-decoration: none;
    color: #444;
}

.challenge-card:hover {
    border: 4px solid #FBD266;
    color: #D76735;
}

.challenge-card a:hover {
    color: #DC8C64;
}

.challenge-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.day-title-div {
    color: #D76735;
    padding: 20px;
    margin-bottom: 30px;
}

.day-title-div h1 {
    font-size: 50px;
}


/* ------------------------------------ DAY 1 STYLE */
  
.keys {
    display: flex;
    flex: 1;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
  
.key {
    border: 2px solid #C7D3C9;
    border-radius: .5rem;
    margin: 8px;
    font-size: 1.2rem;
    padding: 1rem .5rem;
    transition: all .08s ease;
    min-width: 110px;
    text-align: center;
    color: #D76735;
    background: rgba(212, 212, 212, 0.4);
    text-shadow: 0 0 .2rem #8FB0A9;
}
  
.playing {
    transform: scale(1.1);
    border-color: #FBD266;
    box-shadow: 0 0 1rem #FBD266;
}
  
kbd {
    display: block;
    font-size: 4rem;
    background-color: #F2EDD9;
    color: #8FB0A9;
    margin-bottom: 10px;
}
  
.sound {
    font-size: 1rem;
    text-transform: uppercase;
    color: #444;
}

  
/* ------------------------------------ DAY 2 STYLE */

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid #DC8C64;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #8FB0A9,
      inset 0 0 10px rgb(66, 66, 66),
      0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: #e2a88a;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    height: 10px;
    background: #D76735;
}

.min-hand {
    height: 8px;
    background: #DC8C64;
}
